body{
	background-color: #171617;
	color:white;
	margin:0;
	padding:0;
	overflow:hidden;
	font-family: "Open Sans";
}

.acme {
	font-family: acme;
}

.open-sans {
	font-family: "Open Sans";
}
.lato {
	font-family: "Lato";
}
.roboto {
	font-family: 'Roboto';
}
.bal {
	font-family: 'Balsamiq Sans';
}

.casual {
	font-family: "Comfortaa";
}





.fa {
	font-size:2rem;

}

#main {
	width:40vw;
	background-color: #403540;
	border-radius:10px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index:999;
	padding:1rem;
}

#image-mobile {
	padding-top: 7.5vh;
	padding-bottom: 0vh;
	height:60vh;

}
#img-mobile {
	height:50vh;
	width:50vh;

}

#player-mobile {
	margin-top:-10vh;
}


#song_title{
	font-size:1.5rem;
	position:absolute;
	top:60%;
	left:50%;
	transform:translate(-50%,-50%);
}


#play,#pause{


}

#back,#next,#back-mobile,#next-mobile{
	visibility:hidden ;
	opacity:0.8;
}

#back-mobile,#next-mobile{
	font-size:1.8rem;
}






#main-mobile{
	
}


#img-mobile {
	margin-top:0.5rem;
	height:70%;
	width:70%;
	

}
#buttons-mobile{
	margin-top:2vh;
}


#song_title-mobile{
	font-size:1.25rem;
	color:white;
	font-weight: 550;
	margin-left:15%;
	margin-top:5vh;


}

#artist_name-mobile{
	font-size:1rem;
	color:#5c5353;
	font-weight: 300;
	margin-left:15%;
}


#time,#time-mobile {
	visibility: hidden;
}


#time-mobile {
	margin-top: 2.5%;
}

#current_time-mobile{
	color:#736b6b;
	font-weight: 200;
	font-size:0.9rem;
	margin-left:16%;
}

#song_time-mobile{
	color:#736b6b;
	font-weight: 200;
	font-size:0.9rem;
	margin-left:50%;

}







.play-mobile{
	margin-left:7%;
	margin-right:7%;
	border-radius:50%;
	background-color: aliceblue;
	color:#1e1919;
	border:4px solid white;
	height:3.5rem;
	width:3.5rem;
	font-size:1.75rem;
	


}




#seekbar {
	margin-top:10vh;
	position: relative;
	left:50%;
	transform:translate(-50%,-50%);
	width:75%;
	height: 5px;
	background-color: gray;
	display:flex;
	border-radius: 50px;
	cursor:pointer;
	visibility: hidden;

}

#seekbar-mobile{
	cursor:pointer;
	border-radius: 2rem;
	display:flex;
	background-color: gray;
	margin-top:4vh;
	height:0.3rem;
	width:68%;
	position: relative;
	left:50%;
	transform:translate(-50%,-50%);
	visibility: hidden;
	opacity: 0.8;

}




#fill {
	height:5px;
	background-color: royalblue;
	border-radius: 20px;

}

#fill-mobile{
	height:100%;
	background-color: white;
	border-radius: 20px;
}

#handle {
	width:8px;
	height:8px;
	background-color: royalblue;
	border-radius: 50%;
	margin-left:-5px;
	transform:scale(2);
}

#handle-mobile {
	width:4.5px;
	height:4.5px;
	background-color: white;
	border-radius: 50%;
	margin-left:-5px;
	transform:scale(2.1);
}





#shuffle-mobile {
	visibility: hidden;
	font-size:1.5rem;
	color:#867f7f;
	display:inline;
	position: relative;
	top:10%;
	left:-40%;


}
#loop-mobile {
	visibility: hidden;
	font-size:1.5rem;
	color:#867f7f;
	position:relative;
	top:10%;
	left:40%;
	
}



#filter-mobile {
	display: inline;
	visibility: hidden;
	font-size:1.5rem;
	color:#867f7f;
	margin-right: 3%;
	margin-top: 1%;

}

#drawer-mobile{
	display:inline;
	visibility: hidden;
	font-size:1.5rem;
	color:#867f7f;
	margin-left:3%;
	margin-top: 1%;
}






#lyrics-mobile{
	visibility: hidden;
	display:inline;
	position: relative;
	left:41%;
	color:#867f7f;
	border:1px solid #867f7f;
	padding-left:5px ;
	padding-right:5px ;

}






#lyrics {
	visibility: hidden;
}









#lyrics-text-mobile{
	color:white;
	font-family: "Comfortaa";
}



#drawer-main-mobile{
	height:15vh;
	width:100%;
	background-color: #201d1d;
	border-bottom: 0.5px solid #111111;
}

#drawer-song-div-mobile{
	background-color:#171617;
	border-bottom: 0.5px solid #111111;
	height:15vh;
	width:100vw;
}

#drawer-song-name-mobile{
	position: relative;
	left:10%;
	top:10%;
	font-family: "Comfortaa";
	font-size:1rem;
}

#drawer-artist-name-mobile{
	position: relative;
	left:26%;
	top:-5%;
	font-family: "lato";
	font-size:0.8rem;
	color:#867f7f;
}

#drawer-song-image-mobile{
	position: relative;
	left:5%;
	top:25%;
	height:9vh;
	width:9vh;
}


#home-mobile{
	font-size:1.75rem;
	color:#867f7f;
	position: relative;
	left:3vh;
	top:3vh;

}