body{
	background-color: #171617;
	color:white;
	margin:0;
	padding:0;
	font-family: verdana;
	overflow:hidden;
	font-family: "Open Sans";
}

.acme {
	font-family: acme;
}

.open-sans {
	font-family: "Open Sans";
}
.lato {
	font-family: "Lato";
}

#main {
	width:40vw;
	background-color: #403540;
	border-radius:10px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index:999;
	padding:1rem;
}

#image {
	padding-top: 5vh;
	padding-bottom: 25vh;
}
#img {
	height:25%;
	width:25%;
	border-radius: 15px;

}

#player {

}


#song_title{
	font-size:1.5rem;
	position:absolute;
	top:60%;
	left:50%;
	transform:translate(-50%,-50%);
}


#play,#pause{


}

#back,#next,#back-mobile,#next-mobile{
	visibility:hidden ;
}







#main-mobile{
	
}

#image-mobile {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
#img-mobile {
	height:40vh;
	width:40vh;
	border-radius: 15px;

}
#buttons-mobile{
	margin-top:20vh;
}


#song_title-mobile{
	font-size:1.4rem;
	text-align: center;
	color:#6f42c1;

}
.play-mobile{
	margin-left:0.75rem;
	margin-right:0.75rem;

}


